# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Algorithm/.vs
Data_Structure_Src (2) (2)
DataStructureBook/.vs
STLBook/.vs
Algorithm/Algorithm/x64
Algorithm/x64
Algorithm/Maze/x64
